@charset "UTF 8";

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    width: 280px;
    height: 380px;
    background-color: rgb(217, 135, 29);
    padding: 20px;
    margin: auto;
    border-radius:15px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 1.2em;
}

div {
    background-color: #FEBB31;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
}

.nome {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(4, 0, 0, 0.719);
}


a {
    text-decoration: none;
    color: #FEBB31;
}

a:visited {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #0c0b01ac;
}

p {
    display: inline-block;
    border: solid #f9be0bfa;
    height: 20px;
    width: 80px;
    border-radius: 5px;
    margin: 10px;
    background-color: #FEBB31;
    text-shadow: 2px 2px 5px rgba(4, 0, 0, 0.719);
}

p:hover {
    background-color: white;
    border: solid 2px black;
}